.item-container {
    width: 420px;
    display:flex; /* change this to grid */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
    border-radius:7px;
    /*border:1px solid #e6007a;*/
    border:1px solid rgb(122, 110, 170);
}

.card-item {
    width: 400px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 7px;
    border:1px solid dodgerblue;
}

.card-item div {
    width: 100%;
}

.card-item img {
    width: 300px;
}