@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.marketplace,
.arena,
.collectibles,
.more {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  font-size: 3rem;
  width: 800px;
}

.marketplace h1{
  width: 100%;
  text-align:center;
}